body{
    margin:auto;
    background-color:#f8f8f8;
}

header{
    width:100%;
    height:80px;
    background-color:white;
    text-align:center;
    box-shadow:2px 2px 4px lightgray;
}

header img{
    margin-top:15px;
    height:50px;
    padding-left:40px;
}

.login{
    float:right;
    margin-top:50px;
    margin-right:20px;
    font-size:14px;
}

main{
    clear:left;
    width:100%;
}

.confirm{
    margin:auto;
    border:2px solid lightgray;
    border-radius:10px;
    width:600px;
    margin-top:40px;
    margin-bottom:40px;
    box-shadow:4px 4px 4px lightgray;
    background-color:white;
}

.form_contents{
    margin-top:30px;
    margin-left:25px;
    margin-right:25px;
    margin-bottom:30px;
}

h1{
    text-align:center;
    border-bottom:3px solid #31A263;
    font-size:20px;
}

.formbox{
    border:1px solid #dfdfdf;
    padding:5px;
    color:#999;
    background-color:#fff;
}


.buttons{
    text-align:center;
}


form {
    display: inline-block;
    
    margin-right: 15px;
}

.buttons {
    margin: 0 auto;
    width: 300px;
}

.button1{
    border: 1px solid lightgray;
    padding: 6px 10px 4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: solid 2px gray;
}

.button2{
    border: 1px solid lightgray;
    padding: 6px 10px 4px 10px;
    color: white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    width: 140px;
    font-size: 15px;
}

.submit{
    display:inline-block;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;
    color:gray;
    text-align:center;
    line-height:40px;
    font-size:13px;
    border-top:2px solid lightgray;
    background-color:white;
}